#main-header {

}

#header {
	display: block;
	margin: auto;
	color: black;
   -webkit-text-fill-color: lightcoral; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
	font-family: 'Electrolize', sans-serif;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	width: 600px;
	margin-bottom: 10px;
}

#nav-mobile {
	margin-left: 20px;
}

#logo {
	margin-right: 20px;
}

#jumbo {
	margin-top: -30px;
	background-image: url('../img/screenshot-1.png');
	height: 300px;
}

body {
	background-color: white;
	font-family: 'Electrolize', sans-serif;
}

#overview-h {
	   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
	
}

#main-p {
display: block;
	margin: auto;
color: white;
	text-align: center;
	width: 600px;
}

.arrow-down {
    border-left: 80px solid transparent;
	border-right: 80px solid transparent;
    border-top: 40px solid  lightskyblue;
    display: block;
    height: 10px; 
    margin: auto;
	width: 20px;
	
}

#logo-1 {
padding-top: 10px;
width: 50px;
	
}

#screenshot-h {
		   color: black;
   -webkit-text-fill-color: lightcoral; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	margin-left: 30px;
	font-size: 40px;
}

#screen-1 {
height: 300px;
float: left;
width: 400px;
margin-left: 20px;
}

#screen-2 {
height: 298px;
float: right;
width: 400px;
margin-right: 20px;
}

#screen-3 {
margin-left: 170px;
}

#screen-4 {
	width: 100%;
	height: 200px;
	padding-top: 20px;
		
}
	
.collection {
	display: block;
	margin: auto;
	color: lightcoral;
	width: 500px;
	border: 4px solid lightblue;
	border-radius: 20px;
	text-align: center;
}

#kf {
background-color: #ee6e73;
height: 340px;
margin-top: -31px;
}

#screenshot-h2 {
		   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 30px;
}

video {
display: block;
margin: auto;
margin-top: 20px;
width: 700px;
}

img {
border-radius: 30px;

}


#trailer {
			   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	font-size: 70px;
	color: white;
	text-align: center
}

.arrow-down-2 {
    border-left: 80px solid transparent;
	border-right: 80px solid transparent;
    border-top: 40px solid  #ee6e73;
    display: block;
    height: 10px; 
    margin: auto;
	width: 20px; 
}

#screenshots {
background-color: lightgreen;
padding-bottom: 20px;
padding-top: 10px;
}

#trailer-jumbo {
	height: 550px;
	background-color: lightskyblue;
	margin-top: -35px;
}